#!/bin/bash
if [ $# -ne $number ]
then
#set($listValues = "" )
#foreach( $input in $inputList)
#set($listValues = "$listValues <$input.name>" )
#end
#foreach( $output in $outputList)
#set($listValues = "$listValues <$output.name>" )
#end
echo "usage: $0 $listValues"
exit 1
fi
#if ($directName)
export WRAPPER_COMMON_DIR=./$directName
#end
chmod 555 $scriptFile
#set($list = "" )
#set($count =$number - 1  )
#foreach($i in [2..$count])
#set($list = "$list $$i" )
#end

./$scriptFile $list
if [ $? != 0 ]
then
echo "Cannot execute script file "
exit 1
fi
#foreach( $output in $outputList)

tar cvzf $$number $output.name
#end
mkdir -p Output
if [ $? != 0 ]
then
echo "Cannot tar Output file"
exit 1
fi
echo "Execution of VIP wrapper script completed."