<?xml version="1.0" encoding="UTF-8"?>
<description>
  <executable name="$tool.getWrapperName()">
    <access type="LFN" cached="true"/> 
    <retrycount value="1"/>
    <value value="$tool.getWrapperLFN()"/>
    <executor value="LOCAL"/>
    <input name="results-directory" option="no1"> 
    </input>
#foreach($input in $tool.getInputs())
#set($option="--$input.getId().toLowerCase()")
    <input name="${input.getId()}" option="${option}"> 
#if($input.getType() == "File" && !$input.isOptional())
      <access type="LFN"/> 
#end
    </input>
#end
#foreach($outputFile in $tool.getOutputFiles())
#set($option="--$outputFile.getId().toLowerCase()")
    <output name="$outputFile.getId()" option="$option">
#set ($value=$outputFile.getPathTemplate()) 
#set ($i=1)
#foreach($input in $tool.getInputs())
#set ($i=$i+1)
#if($input.getCommandLineKey()!="")
#set ($value=$value.replace($input.getCommandLineKey(),"$na$i"))
#end
#end
      <template value="$dir1/$na1/$value"/>
      <access type="LFN"/>
    </output>
#end
  </executable>
</description>