/* 
    Document   : doc_main
    Created on : May 30, 2011, 2:13:45 PM
    Author     : Rafael Silva
    Description:
*/

html {
    margin: 0;
    padding: 0;
}
body { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000; 
    margin: 0; 
    padding: 10px;
}
p { 
    margin-top: 0; 
    text-align: justify;
}

a:link, a:visited {
    text-decoration: none;
    color: #25587E;
}

a:hover, a:active {
    text-decoration: underline;
    color: #25587E;
}

h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    font-variant: small-caps;
    border: 3px solid #D0DFEB;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

pre {
    border: 1px solid #CCCCCC;
    background-color: #e7e6e6;
    font-family: 'Courier New',Courier,monospace;
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

em {
    font-family: 'Courier New',Courier,monospace;
    font-size: 11px;
    font-style: normal;
}