<?xml version="1.0" encoding="UTF-8"?>
<description>
  <executable name="$tool.getWrapperName()">
    <access type="LFN" cached="true"/>
    <retrycount value="1"/>
    <value value="$fileAccessProtocol:$tool.getWrapperLFN()"/>
#if($tag != "None")
    <requirement value="${tag}" />
#end
#if($isRunOnGrid == false)
    <executor value="LOCAL"/>
#end
    <input name="results-directory" option="no1">
    </input>
#foreach($input in $tool.getInputs())
#set($option="--$input.getId().toLowerCase()")
    <input name="${input.getId()}" option="${option}">
#if($input.getType().getCamelName() == "File" && !$input.isOptional())
      <access type="LFN"/>
#end
    </input>
#end
#foreach($outputFile in $tool.getOutputFiles())
#set($option="--$outputFile.getId().toLowerCase()")
    <output name="$outputFile.getId()" option="$option">
#set ($value=$outputFile.getPathTemplate())
#set ($i=1)
#foreach($input in $tool.getInputs())
#set ($i=$i+1)
#if($input.getValueKey())
#set ($value=$value.replace($input.getValueKey(),"$na$i"))
#end
#end
#set ($i=$i+1)

#if($outputFile.isStripExtension())
    <template value="$prefix1$dir1/$na1/$value$options1" strip-extension="$outputFile.getPathTemplateStrippedExtensions()"/>
#else
    <template value="$prefix1$dir1/$na1/$value$options1" />
#end    
<access type="LFN"/>
</output>
#end  
</executable>
</description>
