/*
    Document   : style
    Created on : Feb 14, 2011, 9:59:04 AM
    Author     : Rafael Silva
    Description:
        VIP style sheet.
*/

.ami-container {
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ami-gui-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}


body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 2.5em;
  padding-bottom: 1%;
}

p{
  font-size: 1.25em;
  text-align: justify;
}

span{
  color: orange;
}

.nav-item{
  font-size: large;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}


.divider:after, .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }

.button-blue-border {
  margin: 50px 20px 0px 0px;
  padding: 15px 10px 15px 80px;
  border-style: solid;
  border-width: 2px;
  border-color: #005faa;
  border-radius: 100vw;
  background-color: #fff;
  background-image: url(https://assets.website-files.com/62e3a5ba3da3705b0a510a42/62e3a82d4c15a67d55b187c6_egi-logo-color.svg);
  background-position: 30px 43%;
  background-size: 36px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'DM Sans', sans-serif;
  color: #005faa;
  font-size: 10px;
  font-weight: 700;
}

.button-blue-border:hover {
  background-color: #005faa;
  background-image: url(https://assets.website-files.com/62e3a5ba3da3705b0a510a42/62e3a82d3ed11b0ea947266c_egi-logo-white.svg);
  color: #fff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #0095d6;
}
.style_hr{
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#welcome {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  background-color: #f0f2f5;
}

#main_title {
  font-size: 3.5em;
  margin-bottom: 6%;
  padding-bottom: 5%;
}

#welcome_paragraphe {
  padding-right: 15%;
}

#welcome_signin {
  padding-left: 15%;
}

#signin_hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f2f5, #0095d6, #f0f2f5);
  background-image: -moz-linear-gradient(left, #f0f2f5, #0095d6, #f0f2f5);
  background-image: -ms-linear-gradient(left, #f0f2f5, #0095d6, #f0f2f5);
  background-image: -o-linear-gradient(left, #f0f2f5, #0095d6, #f0f2f5);
}


#tableApp {
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

#tablePublication {
  text-align: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}