<?xml version="1.0" encoding="UTF-8"?>
<description>
<executable name="${applicationName}_wrapper.sh">
<access type="LFN" cached="true"> 
</access>
        
        <value value="$gaswValue"/>
        <executor value="LOCAL"/>
    
        #set($i =$0 )
        #foreach( $input in $inputList )
        #set($i =$i + 1  )
        #set($j =$i - 1  )
        #if($input.type=="LFN" )
       <input name="input$j" option="no$i"> 
            <access type="LFN"/> 
       </input>
        #else
        <input name="input$j" option="no$i">
        </input>
        #end
        #end
        
        #foreach( $output in $outputList )
         #set ($index1 = $output.valueTemplate.indexOf('['))
         #set ($index2 = $output.valueTemplate.indexOf(']'))
         #set($index3=$index2 +1)
         #set($key = ${output.valueTemplate.substring($index1,$index3)})
         #set($i =$0 )
         #foreach( $input in $inputList )
          #set($i =$i + 1  )
          #if($input.commandLineKey==$key)
           #if($input.type=="LFN" )
         <output name="$output.name" option="$output.option"> 
              #set ($r = "$dir${i}$na${i}")               
            <template value="$output.valueTemplate.replace($key,$r)"/>
            <access type="LFN">
            </access>
        </output>
           #else
         <output name="$output.name" option="$output.option">   
             #set ($r = "$na${i}")         
            <template value="$output.valueTemplate.replace($key,${r})"/>
            <access type="LFN">
            </access>
        </output>
           #end
          #end
         #end
        #end  
      
        
	
    </executable>
</description>
