<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>VIP</display-name>
      
    <!-- Core Module -->
    <servlet>
        <servlet-name>ConfigurationService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.core.server.rpc.ConfigurationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigurationService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/configurationservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetFileService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.core.server.rpc.GetFileServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFileService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/getfileservice</url-pattern>
    </servlet-mapping>
    <!-- End Core Module -->
    
    <!-- Provenance Module -->
    <servlet>
        <servlet-name>ProvenanceService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.provenance.server.rpc.ProvenanceServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvenanceService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/provenanceservice</url-pattern>
    </servlet-mapping>
    <!-- End Provenance Module -->
    
    <!-- Data Manager Module -->
    <servlet>
        <servlet-name>DataManagerService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.DataManagerServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataManagerService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/datamanagerservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.FileUploadServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/fileuploadservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileDownloadService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.FileDownloadServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/filedownloadservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadFilesService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.UploadFilesServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFilesService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/uploadfilesservice</url-pattern>
    </servlet-mapping>
    <!-- End Data Manager Module -->
    
    <!-- Application Module -->
    <servlet>
        <servlet-name>ApplicationService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.application.server.rpc.ApplicationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/applicationservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.application.server.rpc.WorkflowServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/workflowservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.application.server.rpc.JobServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/jobservice</url-pattern>
    </servlet-mapping>
    <!-- End Application Module -->
    
    <!-- GateLab Module -->
    <servlet>
        <servlet-name>GatelabService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.gatelab.server.rpc.GateLabServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatelabService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/gatelabservice</url-pattern>
    </servlet-mapping>
    <!-- End GateLab Module -->
    
    <!-- Physical Properties Module -->
    <servlet>
        <servlet-name>TissueService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.physicalproperties.server.rpc.TissueServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TissueService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/tissueservice</url-pattern>
    </servlet-mapping>
    <!-- End Physical Properties Module -->
    
    <!-- Models Module -->
    <servlet>
        <servlet-name>ModelService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.models.server.rpc.ModelServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/modelservice</url-pattern>
    </servlet-mapping>
    <!-- End Models Module -->
     
    <!-- SimulatedData Module -->
    <servlet>
        <servlet-name>SimulatedDataService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.simulatedata.server.rpc.SimulatedDataServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimulatedDataService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/simulateddataservice</url-pattern>
    </servlet-mapping>
    <!-- End SimulatedData Module -->
     
    <!-- Models Module -->
    <servlet>
        <servlet-name>VTKController</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.simulationgui.server.rpc.VTKControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VTKController</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/vtkcontroller</url-pattern>
    </servlet-mapping>
    <!-- End Models Module -->
    
    <!-- Social Module -->
    <servlet>
        <servlet-name>SocialService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.social.server.rpc.SocialServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SocialService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/socialservice</url-pattern>
    </servlet-mapping>
    <!-- End Social Module -->
    
     <!-- Cowork Module -->
    <servlet>
        <servlet-name>CoworkService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.cowork.server.rpc.CoworkServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoworkService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/coworkservice</url-pattern>
    </servlet-mapping>
    
    <!-- End Cowork Module -->
    
      <!-- Cardiac Module -->
    <servlet>
        <servlet-name>CardiacService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.cardiac.server.rpc.CardiacServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardiacService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/cardiacservice</url-pattern>
    </servlet-mapping>
    
    <!-- End Cardiac Module -->
    
    <!-- Query Module -->
        <servlet>
        <servlet-name>QueryService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.query.server.rpc.QueryServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/queryService</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>EndPointService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.query.server.rpc.EndPointSparqlServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndPointService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/endPointService</url-pattern>
    </servlet-mapping>
    <!-- End Query Module -->
    
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>site</web-resource-name>
            <description>Only HTTPS Access</description>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description>Use SSL</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    
    <!--    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>Client Cert Users-only Area</realm-name>
    </login-config>-->
    
    <resource-ref>
        <description>VIP MySQL Connection</description>
        <res-ref-name>jdbc/vip</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
</web-app>
