<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>VIP-Platform</display-name>
    <!-- Common Module -->
    <servlet>
        <servlet-name>GetFileService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.common.server.rpc.GetFileServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.ModelServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFileService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/getfileservice</url-pattern>
    </servlet-mapping>
    <!-- End Common Module -->
    <!-- Data Manager Module -->
    <servlet>
        <servlet-name>FileCatalogService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.FileCatalogServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileCatalogService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/filecatalogservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.FileUploadServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/fileuploadservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileDownloadService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.FileDownloadServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/filedownloadservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferPoolService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.datamanager.server.rpc.TransferPoolServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferPoolService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/transferpoolservice</url-pattern>
    </servlet-mapping>
    <!-- End Data Manager Module -->
    <servlet>
        <servlet-name>WorkflowService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.WorkflowServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/workflowservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.JobServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/jobservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LFNService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.LFNServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LFNService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/lfnservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigurationService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.ConfigurationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigurationService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/configurationservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApplicationService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.ApplicationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/applicationservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GatelabService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.GatelabServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatelabService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/gatelabservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TissueService</servlet-name>
        <servlet-class>fr.insalyon.creatis.vip.portal.server.rpc.TissueServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TissueService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/tissueservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelService</servlet-name>
        <url-pattern>/fr.insalyon.creatis.vip.portal.Main/modelservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>site</web-resource-name>
            <description>Only HTTPS Access</description>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description>Use SSL</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>Client Cert Users-only Area</realm-name>
    </login-config>
</web-app>
