<?xml version="1.0" encoding="UTF-8"?>
    <!--
  ~ Copyright and authors: see LICENSE.txt in base repository.
  ~
  ~ This software is a web portal for pipeline execution on distributed systems.
  ~
  ~ This software is governed by the CeCILL-B license under French law and
  ~ abiding by the rules of distribution of free software.  You can  use,
  ~ modify and/ or redistribute the software under the terms of the CeCILL-B
  ~ license as circulated by CEA, CNRS and INRIA at the following URL
  ~ "http://www.cecill.info".
  ~
  ~ As a counterpart to the access to the source code and  rights to copy,
  ~ modify and redistribute granted by the license, users are provided only
  ~ with a limited warranty  and the software's author,  the holder of the
  ~ economic rights,  and the successive licensors  have only  limited
  ~ liability.
  ~
  ~ In this respect, the user's attention is drawn to the risks associated
  ~ with loading,  using,  modifying and/or developing or reproducing the
  ~ software by the user in light of its specific status of free software,
  ~ that may mean  that it is complicated to manipulate,  and  that  also
  ~ therefore means  that it is reserved for developers  and  experienced
  ~ professionals having in-depth computer knowledge. Users are therefore
  ~ encouraged to load and test the software's suitability as regards their
  ~ requirements in conditions enabling the security of their systems and/or
  ~ data to be ensured and,  more generally, to use and operate it in the
  ~ same conditions as regards security.
  ~
  ~ The fact that you are presently reading this means that you have had
  ~ knowledge of the CeCILL-B license and that you accept its terms.
  -->
<configuration debug="true" scan="true" scanPeriod="60 seconds" packagingData="true">

  <!-- main log file-->
  <appender name="VIP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <file>${user.home}/.vip/vip.log</file>
    <encoder>
      <pattern>%d |%5p | %c{1}:%L - %m%n %ex</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>${user.home}/.vip/vip.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>


  <!-- error log file-->
  <appender name="VIP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/.vip/vip-errors.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- monthly rollover -->
      <fileNamePattern>${user.home}/.vip/vip-errors.%d{yyyy-MM}.log</fileNamePattern>
      <!-- keep 12 months -->
      <maxHistory>12</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d |%5p | %c{1}:%M:%L - %m%n %caller</pattern>
    </encoder>
  </appender>


  <!-- every thing above INFO is logged in vip.log
       every thing above WARN is ALSO logged in vip_errors.log -->
  <root level="INFO">
    <appender-ref ref="VIP_LOG"/>
    <appender-ref ref="VIP_ERROR"/>
  </root>
</configuration>